.title {
    font-size: 28px;
    font-weight: bold;
}
.title-com{
    font-weight: bold;
    font-size: 19px;
}
.title-sub{
    margin-left: 200px;
}
.title-sub2{
    margin-right: 10px;
}
.line{
    border: 1px solid #000;
    color:#000;
    margin: 20px;
}
.question-num{
    font-weight: bold;
    font-size: 19px;
    margin-left: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.question{
    font-size: 19px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.container{
    margin-top: 140px!important;
}